<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container" style="text-align: center;">

    <div class="w-100 my-5" style="min-height: 1px;">

      {% if reports %}
        <button onclick="window.location = window.location.toString().replace('&reports=true','')" class="btn-info float-left">Rechnungsvorlagen Anzeigen</button>
      {% else %}
        <button onclick="window.location = window.location + '&reports=true'" class="btn-info float-left">Berichtvorlagen Anzeigen</button>
      {% endif %}

    </div>
    
    {% if projectId == 0%}
      <h5 style="border-style: solid; padding: 10px; border-color: red; max-width: 800px; margin: auto;">
      Ein Dokument für Projekt-Id 0 wird erstellt. Dies ist eine spezielle Id mit Platzhaltern Informationen. Um das Dokument nachträglich mit einer Projekt-Id zu verknüpfen, folgen sie bitte
      den im Bild aufgeführten Schritten!
      <br>
      <hr>
      <button class="mx-auto btn btn-info center" data-toggle="collapse" data-target="#help" aria-expanded="false" aria-controls="help">Hier Klicken um das Hilfsbild anzuzeigen!</button>
      </h5>
      
      <br>
      
      <img id="help" class="my-4 collapse" style="width: 60%; border-style: solid" src="/static/ms-word-pid-help.png"></img>
      <hr>
    {% endif %}

  </div>

  <div class="container mt-5">
  {% for key in templatesKeysSorted %}
  <div class="row w-100 my-2 template-line">
    <b class="col-6 mt-2">{{ key }}</b>
    <button class="col-3 btn-info" style="width: 100%;"
      onclick="saveDocumentTemplate('{{ projectId }}', '{{ key }}', false, {{ reportsJsBool }})">
      Download
    </button>
    {% if projectPathAvailiable %}
      <button class="col-3 btn-primary mb-2" style="width: 100%;"
       onclick="saveDocumentTemplate('{{ projectId }}', '{{ key }}', true, {{ reportsJsBool }})">
       In Projektordner Speichern
      </button>
    {% endif %}
    <h6 id="save-document-error-field-{{ key }}" class="card-subtitle" style="color: red;"></h6>
  </div>
  <hr></hr>
  {% endfor %}
  </div>

</body>

</html>
