*.sqlite
*.json
*.swo
*.bak
*.swp
*.docx
*.sqlite-journal
*.dotx

__pycache__/
static/
uploads/

*.xml
_rels/
customXml/
docProps/
word/
input/
run.sh
*_index
config.py
document-templates/
error.log
.backup_info