<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="modalSpawn()">
    Neuer Eintrag
</button>

<button type="button" class="btn btn-info" onclick="window.location = '/new-document?projectId=0&reports=true'">
    Dokument ohne Projekt-ID 
</button>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 90% !important;", role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Neuer Eintrag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body" class="modal-body">

      </div>
      <div class="modal-footer">
        <button style="display: none; float: left;" 
                disabled="" id="modal-delete-button" type="button"
                class="btn btn-danger float-left" onclick="deleteEntry()">
                Diesen Eintrag Löschen
        </button>
        <button style="display: none;" disabled="" id="modal-create-doc-button" type="button"
                class="btn btn-info float-left" onclick="documentCreation()">
                Neues Dokument für diesen Eintrag
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Speichern</button>
      </div>
    </div>
  </div>
</div>
