<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dataModal">
    Neuer Eintrag
</button>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 90% !important;", role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Neuer Eintrag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            {% include 'add-form-part.html' %}

            <hr>
            <div class="drop-zone" id="drop-zone"
                    ondrop="dropHandler(event);"
                    ondragover="dragOverHandler(event);">
              <p>Drag one or more files to this Drop Zone ...</p>
            </div>

      </div>
      <div class="modal-footer">
        <button disabled="" id="modal-delete-button" type="button"
                class="btn btn-alert float-left" onclick="deleteEntry()">
                Diesen Eintrag Löschen
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Save changes</button>
      </div>
    </div>
  </div>
</div>
