<div style="font-size: 16px; font-weight: 300; overflow-y: scroll;" class="p-2" role="main">
  <form id="data-form" action="/" method="POST" style="float: left;">
      {% for label, field in fieldLabelTupels %}

          {% if label == "projectId" %}
          <div style="display: none;" id="projectid-helper">23123</div>
          {% endif %}

          <div style="display: none;">{{ label }}</div>
          <div style="display: inline-block;" class="">
              <p style="margin-bottom: 0px;">{{ label }}</p>
              <input id="{{ label }}-input" class="mb-2"
                     type="text" name="{{ field.args[0] }}"></input>
          </div>
      {% endfor %}
  </form>
</div>
