<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <h1>Die BWA enthält bereits einen Datensatz mit dieser Laufnummer und die Daten sind _NICHT_ identisch</h1>
  
  <h3>Datenbank Eintrag</h3>
  <div class="entry">

  </div>
  </hr>
  
  <h4>BWA Eintrag</h4>
  <div class="entry">

  </div>

  <h5 style="color: red;">Bitte Auftragsdatenbank anpassen und dann Daten übernehmen!</h5>

  <button class="btn btn-pimary" onclick="submitToBwa()">
    
  </button>
</body>

</html>
