<div style="font-size: 16px; font-weight: 300; display: inline-grid;" class="p-2" role="main">
  <form id="data-form" action="/" method="POST" style="float: left;">
      {% for formEntry in formEntries %}

          {% if label == "projectId" %}
          <div style="display: none;" id="projectid-helper">{{ label }}</div>
          {% endif %}
		  
          <div style="display: inline-block;" class="">
              <p style="margin-bottom: 0px;">{{ formEntry.displayName }}</p>
              {% if not formEntry.options %}
              <input id="{{ formEntry.colName }}-input" value="{{ formEntry.value }}" class="mb-2"
                    type="{{ formEntry.typeAsText }}" name="{{ formEntry.colName }}"
                    {% if formEntry.unsafeEntryInfo %}
					disabled
					style="color: orange;"
					{% endif %}
					></input>
              {% else %}
              <input id="{{ formEntry.colName }}-input" value="{{ formEntry.value }}" class="mb-2"
                     type="text" list="{{ formEntry.colName}}-datalist"
                     name="{{ formEntry.colName }}">
                <datalist id="{{ formEntry.colName }}-datalist">
                  {% for option in formEntry.options %}
                  <option value="{{ option }}"></option>
                  {% endfor %}
                </datalist>
              {% endif %}
          </div>
      {% endfor %}
      <div id="additional-dates-target">
      </div>
  </form>
</div>
<hr>
<div class="extra-files">
    <div style="display: none;" class="drop-zone" id="drop-zone"
            ondrop="dropHandler(event);"
            ondragover="dragOverHandler(event);">
      <p>Drag one or more files to this Drop Zone ...</p>
    </div>

    <div id="filelist-target">
    </div>

    <div class="my-4" id="smb-filelist-target">
    </div>

</div>
