{% if fileListItems %}
<hr class="my-3">
<div class="file-list" id="file-list">
    {% if basePath %}
    <h5 style="font-weight: bold;">Pfad</h5>
    <p style="font-size: 20px !important;" class="p-4 border">
        {{ basePath }}
    </p>
    {% endif %}
    <div class="w-100">
        <div class="row">
            <div class="col-4" style="font-size: 20px !important;">Dateinamen</div>
            <div class="col-8" style="font-size: 20px !important;">Info</div>
        </div>
        {% for fileListItem in fileListItems %}
        <div class="row">
            <div class="col-4" style="font-size: 20px">
                {% if localfile and fileListItem.fileType != "unknown" %}
                <a href="localfile://{{ fileListItem.remoteAccessPath }}?{{ localfile }}">
                    {{ fileListItem.name }}
                </a>
                {% else %}
                <a href="/files?fullpath={{ fileListItem.downloadUrl }}">{{ fileListItem.name }}</a>
                {% endif %}
            </div>
            <div class="col-8">
               {% if fileListItem.extraInfo %}
                  {% if fileListItem.fileType in [ "Bild", "unknown", "" ] %}
                  {% else %}
                    {% if fileListItem.extraInfo.alreadyPaid %}
                       <p style="color: darkgreen;">Rechnung Bezahlt (BWA)</p>
                    {% else %}
                       <p style="color: red;">Rechnung offen 
                          ({{ fileListItem.extraInfo.netto }} €) </br>
                           {% if fileListItem.extraInfo.lastPrinted %}
                              <small style="color: orange;">
                                Rechnung gedruckt am 
                                {{ fileListItem.extraInfo.lastPrinted.strftime("%d.%m.%y") }}
                              </small>
                           {% endif %}
                       </p>
                    {% endif %}
                  {% endif %}
               {% endif %}
               {% if fileListItem.fileType == "Bild" %}
                  <img class="py-1" style="max-height: 200px;"
                    src="/files?fullpath={{ fileListItem.downloadUrl }}"></img>
               {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
