{% if fileListItems %}
<hr class="my-3">
<div class="file-list" id="file-list">
    {% if basePath %}
    <h5 style="font-weight: bold;">Pfad</h5>
    <p style="font-size: 20px !important;" class="p-4 border">
        {{ basePath }}
    </p>
    {% endif %}
    <div class="w-100">
        <div class="row">
            <div class="col-3" style="font-size: 20px !important;">Dateinamen</div>
            <div class="col-3" style="font-size: 20px !important;">Info</div>
            <div class="col-6" style="font-size: 20px !important;">Preview</div>
            <!--<div class="col-4" style="font-size: 20px !important;"></th>-->
        </div>
        {% for fileListItem in fileListItems %}
        <div class="row">
            <div class="col-3" style="font-size: 20px">
                {% if localfile and fileListItem.fileType != "unknown" %}
                <a href="localfile://{{ fileListItem.localpath }}?{{ localfile }}">{{ fileListItem.name }}</a>
                {% else %}
                <a href="/files?fullpath={{ fileListItem.fullpath }}">{{ fileListItem.name }}</a>
                {% endif %}
            </div>
            <div class="col-3">
               {% if fileListItem.extraInfo %}
                  {% if fileListItem.fileType in [ "Bild", "unknown", "" ] %}
                  {% else %}
                    {% if fileListItem.extraInfo.alreadyPaid %}
                       <p style="color: darkgreen;">Rechnung Bezahlt (BWA)</p>
                    {% elif fileListItem.extraInfo.lastPrinted %}
                       <p style="color: orange;">
                       Rechnung gedruckt am 
                       {{ fileListItem.extraInfo.lastPrinted.strftime("%d.%m.%y") }}
                       </p>
                    {% else %}
                       <p style="color: red;">Rechnung offen 
                        ({{ fileListItem.extraInfo.netto }} €)
                       </p>
                    {% endif %}
                  {% endif %}
               {% endif %}
            </div>
            <div class="col-6" style="max-width: 30%">
               {% if fileListItem.fileType == "Bild" %}
                  <img style="width: 100%;" src="/files?fullpath={{ fileListItem.fullpath }}"></img>
               {% endif %}
            </div>
            <!--<td class="float-left" style="font-size: 20px">{{ fileListItem.fileType }}</td>-->
            {% if fileListItem.deletable %}
            <div class="col-2"><button onclick="deleteFile('{{ fileListItem.fullpath }}')">Delete</button></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
