{% if fileListItems %}
<hr class="my-3">
<div class="file-list" id="file-list">
    <table class="w-100">
    <tr>
        <th>File</th>
        <th>Type</th>
        <th></th>
    </tr>
    {% for fileListItem in fileListItems %}
    <tr>
        <td>{{ fileListItem.name }}</td>
        <td>{{ fileListItem.fileType }}</td>
        {% if fileListItem.deletable %}
        <td><button onclick="deleteFile('{{ fileListItem.fullpath }}')">Delete</button></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
