<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  {% include 'add-modal.html' %}

  <div style="font-size: 16px; font-weight: 300;" class="mt-5 mb-3 ml-2 mr-2" role="main">
    <table id="tableMain" class="table table-striped table-bordered table-sm"
            cellspacing="0">
        <thead>
            <tr>
                {% for item in headerCol %}
                <th class="th-sm font-weighIt-bold">{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <!-- tbody serverside processing -->
    </table>    

    <script defer>
        var dt = null
        $(document).ready(function () {
            dt = $('#tableMain').DataTable({
                serverSide: true,
                    ajax: {
                    url: '/data-source',
                    type: 'POST'
                }
            });
            console.log(dt)
            $('.dataTables_length').addClass('bs-select');
        });

        $('#tableMain').on('click', 'tbody td', function() {
            
            colNames = {{ headerCol | safe }}
            row = this.parentNode.rowIndex - 1
            clickedCol = this.cellIndex

            /* fetch modal-content from server */
            modalBody = document.getElementById("modal-body")
            fetch("/entry-content?projectId=" + dt.row(row).data()[1]).then( r => {
                if(r.status < 200 || r.status >= 300){
                    console.log("Bad answer for this entry, cannot create modal")
                    alert("Serverfehler: Keine Daten verfügbar oder falsche Anfrage.")
                    return Promise.reject()
                }
                r.text().then( s => {
                    modalBody.innerHTML = s
                }).then(() => {

                    /* set delete button */
                    deleteButton = document.getElementById("modal-delete-button")
                    deleteButton.disabled = false

                    /* open modal */
                    $('#dataModal').modal("toggle")
               
                /* end post modal set */
                })
            /* end fetch */
            })
        /* end onclick */
        })
    </script>
  </div>
</body>

</html>
