<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  {% include 'add-modal.html' %}

  <div style="font-size: 16px; font-weight: 300;" class="mt-5 mb-3 ml-2 mr-2" role="main">
    <table id="tableMain" class="table table-striped table-bordered table-sm"
            cellspacing="0">
        <thead>
            <tr>
                {% for item in headerCol %}
                <th class="th-sm font-weighIt-bold">{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <!-- tbody serverside processing -->
    </table>    

    <script defer>
        $(document).ready(function () {
            $('#tableMain').DataTable({
                serverSide: true,
                    ajax: {
                    url: '/data-source',
                    type: 'POST'
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $('#tableMain').on('click', 'tbody td', function() {
              //get textContent of the TD
              console.log('TD cell textContent : ', this.textContent)
              //get the value of the TD using the API
              console.log('location : ', this.parentNode.rowIndex, this.cellIndex)
        })
    </script>
  </div>
</body>

</html>
