<div class="smb_fail">
    {% if showResetButton %}
    <p style="font-size: 18px;">
    Die letzte Suche hat keine Ergebnisse ergeben. Es findet keine neue Suche statt!<br>
    Wenn Sie der Meinung sind, das Projekt sollte nun auffindbar sein oder vom Administrator dazu aufgefordert wurde, können sie die Suche wiederholen.
    </p>
	<form id="form-delete-project-path" action="/submit-project-path" method="DELETE">
        <input style="display: none;" id="projectId" value="{{ projectId }}" type=text></input>
		<button onclick="deleteProjectPath()" class="mt-1" type=submit>Nochmal suchen</button>
	</form>
    {% endif %}
    <p class="my-3">
        Keine Netzwerkordner gefunden: </br>
        Gesuchter Ordner: {{ projectDir }} </br>
        Suche in: {{ searchPath }} </br>
		Erwartete Stichwörter (mindestens 1): {{ keywords }} </br>
    </p>

	<h3>Einen Pfad angeben:</h3>
	<form id="form-submit-project-path">
		<input id="path-input" class="w-100" type=text placeholder="Pfad"></input>
        <input style="display: none;" id="projectId" value="{{ projectId }}" type=text></input>
        <button onclick="submitProjectPath()" class="mt-3" type=submit>Neuen Pfad Speichern</button>
	</form>

</div>
