<div class="smb_fail">
    {% if showResetButton %}
    <p style="font-size: 18px;">
    Die letzte Suche hat keine Ergebnisse ergeben. Es findet keine neue Suche statt!<br>
    Wenn Sie der Meinung sind, das Projekt sollte nun auffindbar sein oder vom Administrator dazu aufgefordert wurde, können sie die Suche wiederholen.
    </p>
	<form action="/submit-project-path" method="DELETE">
        <input style="display: none;" id="projectId" value="{{ projectId }}" type=text></input>
		<input class="mt-1" value="Nochmal suchen" type=submit></input>
	</form>
    {% endif %}
    <p class="my-3">
        Keine Netzwerkordner gefunden: </br>
        Gesuchter Ordner: {{ projectDir }} </br>
        Suche in: {{ searchPath }} </br>
		Erwartete Stichwörter (mindestens 1): {{ keywords }} </br>
    </p>

	<h3>Einen Pfad angeben:</h3>
	<form action="/submit-project-path" method="POST">
		<input id="path" class="w-100" type=text placeholder="Pfad"></input>
        <input style="display: none;" id="projectId" value="{{ projectId }}" type=text></input>
		<input class="mt-3" value="Neuen Pfad Speichern" type=submit></input>
	</form>

</div>
