<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div class="mx-lg-5">
    <div class="w-100 my-5" style="min-height: 1px;">
    <h4 class="float-left mr-5">{{ yearFilter }}</h4>
    {% if yearFilter %}
        <button onclick="window.location = window.location + '&nofilter=true'" class="btn-success float-left">Alle Vorlagen Anzeigen</button>
    {% endif %}
    </div>

    <div class="row">
    {% for key in templatesDict.keys() %}
    <div class="template-card m-3 card col-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ key }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <hr class="my-4">
          <p class="card-text">{{ templatesDict[key]["description"] }}</p>
          <button class="btn-info mb-2" style="width: 100%;"
                  onclick="saveDocumentTemplate('{{ projectId }}', '{{ key }}', false)">
            Download
          </button>
          {% if projectPathAvailiable %}
          <button class="btn-primary mb-2" style="width: 100%;"
                  onclick="saveDocumentTemplate('{{ projectId }}', '{{ key }}', true)">
            In Projektordner Speichern
          </button>
          {% endif %}
          <h6 id="save-document-error-field-{{ key }}"
                  class="card-subtitle mt-3" style="color: red;"></h6>
        </div>
    </div>
    {% endfor %}
    </div>
  </div>
</body>

</html>
